[data-md-color-scheme="ose"] {
  --md-primary-fg-color:        #dbe8d4;
  --md-primary-fg-color--light: #f3ffec;
  --md-primary-fg-color--dark:  #85b06c;
  --md-primary-bg-color:        #000000;
}

/* caja admonition to highlight boxes and headings */

.md-typeset .admonition.caja,
.md-typeset details.caja {
  border-color: #d8edd6;
  background-color: #d8edd6;
}

.md-typeset .admonition.caja > h2, h3, h4 {
  font-weight: bold;
  margin: 0.2em 0 0.2em;
}

/* format for tables */
.md-typeset table:not([class]) th {
  min-width: 0;
}

.md-typeset__table thead {
  background-color: black;
  color: white;
}

.md-typeset__table tbody tr:nth-child(even) {
  background-color: #d8edd6;
}

.md-typeset table:not([class]) td:not([align]) {
  text-align: center;
}
