[data-md-color-scheme="ose"] {
    --md-primary-fg-color:        #dbe8d4;
    --md-primary-fg-color--light: #f3ffec;
    --md-primary-fg-color--dark:  #85b06c;
    --md-primary-bg-color:        #000000;
  }